
@media only screen and (max-width: 1366px) {
    .postRaces_container {
        padding-top: 3%; 
        margin-bottom: 3%;   
    }

    .header-text {
        margin-left: 7%;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }

    .container {
        border: 3px solid #618930;
        background-color: #0C0D0A;
        border-radius: 18px;
        padding-left: 8% !important;
        padding-right: 8% !important;
        padding-top: 3% !important;
        padding-bottom: 3% !important;
    }

    #exampleFormControlSelect1 {
        background-color: #2E353B !important;
        color: white;
        border-color: #2E353B !important;
    }

    label {
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .btn-post {
        width: 80%;
        float: right;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        background-color: #70952C;
    }
}

