@media only screen and (max-width: 1366px) {
    
    .suggestionBox-container {
        align-items: center;
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    .header-text-suggestion {
        margin-left: 1%;
        width: 100%;
        margin-top: 3% !important;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }

    .table-suggestions {
        margin-top: 2%;
        margin-bottom: 10% !important;
    
    }   

    .btn-view {
        color: white !important;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        background-color: #70952C !important;
    }

   

    .modal-header {
        background-color: #343A40;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .modal-footer {
        background-color: #343A40;
        
    }

    .exampleModalCenter {
        width: 60% !important;
    }

    .modal-dialog {
        max-width: 60% !important;
        margin: 1.75rem auto;
    }

    .modalData {
        font-family: 'Poppins', sans-serif;
        font-weight: bold !important;
    }

    .row-modal {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .thumbs-up {
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    .thumbs-down {
        transition: all .5s ease-in-out;
        cursor: pointer;
    }

    .thumbs-up:hover {
        transform: scale(1.5);
    }

    .thumbs-down:hover {
        transform: scale(1.5);
    }

    .suggesion-thead {
        -webkit-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75);
    }
}

@media (min-width: 1920px) {
    .table {
        width: 90% !important;
    }

    .suggestionBox-container {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
    }

    .modal-header {
        background-color: #343A40;
    }

    .suggestionModal {
        max-width: 50% !important;
        
    }

    .modal-footer {
        background-color: #343A40;
    }

    .modal-content {
        height: 683px;
    }

    .imageTrail {
        margin-top: 5%;
    }

    .mapLblContainer {
        text-align: center !important;
    }

}